@font-face {
  font-family: "Work Sans";
  src: url("../../public/fonts/work-sans-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("../../public/fonts/work-sans-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("../../public/fonts/work-sans-demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
